.two-image-container{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
} 
.first-image-div{
    height: 27vh;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 16px;
    object-fit: cover;
}
.second-image-div{
    height: 28vh;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.two-card-top-image-title{
    color: white;
    position: absolute;
    bottom: 60%;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;
}
.two-card-top-image-price{
    color: white;
    position: absolute;
    bottom: 54%;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.two-card-bottom-image-title{
    color: white;
    position: absolute;
    bottom: 10%;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.two-card-bottom-image-price{
    color: white;
    position: absolute;
    bottom: 5%;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}