.traveller-main-container{
    margin: 0 12%;
    background-color: #141c4e;
    height: 60vh;
    margin-top: 5%;
}
.Traveller-container{
    display: flex;
    gap: 2%;
    
}
.honeymoon{
    width: 18%;
    height: 28vh;
    border-radius: 12px;
    margin-left: 11%;
}
.family{
    width: 18%;
    height: 28vh;
    border-radius: 12px;
}
.friend{
    width: 18%;
    height: 28vh;
    border-radius: 12px;

}
.Team-outing{
    width: 18%;
    height: 28vh;
    border-radius: 12px;

}
.traveller-vacation-tittle{
    padding-top: 5%;
    font-weight: 700;
    margin-left: 40%;
}
.traveller-tittle{
    margin-left: 43%;
    font-weight: 700;
    font-style: italic;
}