.traveller-main-container{
    margin: 0 12%;
    background-color: #141c4e;
    height: 55vh;
    margin-top: 5%;
    border-radius: 18px;
}
.Traveller-container{
    display: flex;
    gap: 1%;
    margin: 0 10%;
    
}

.traveller-vacation-tittle{
    padding-top: 5%;
    font-weight: 700;
    margin-left: 40%;
    font-family: Poppins;
    color: white;
    font-size: 22px;
}
.traveller-tittle{
    margin-left: 43%;
    font-family: Satisfy;
    color: rgb(210, 9, 42);
    font-size: 36px;
    margin-top: -1rem;
}


