@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --cprimary: #FF6A3E;
    --csecondary: #606060;
}
.title{
    font-size: 3rem;
    margin-top: 2em;
}
.style-heading {
    font-family: "Satisfy";
    font-size: 1.25rem;
    margin: 0;
    color: var(--cprimary);
}

.banner-image {
    position: relative;
}

.banner-text {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    padding: .5em;
    color: white;
    font-weight: 500;
    background-color: #0000005d;
    width: 100%;
    margin: 0;
    border-radius: 10px;

}
.primarybtn{
    background-color: #d35833;
    color: white;
    font-family: "poppins";
    font-weight: 500;
    border: none;
    padding: 1em 2em;
    border-radius: 2em;
    margin-top: 1em;
    cursor: pointer;
}
.listcard-container {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin-bottom: 2em;

}
.cardtitle{
    font-size: 1.5rem;
    color: var(--csecondary);
    font-weight: 600;
}
.cardtext{
    font-size: 1rem;
    color: grey;
    font-weight: 400;
    padding-right: 1.5em;
}
.underHeader{
    padding: 1.5em 0;
    display: flex;
    align-items: center;
}
.underHeader p{
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  color: rgb(179, 186, 192);
  font-size: .8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 5em;
}
.underHeader span{
    color: white;
    font-size: 1rem;
    display: block;
    padding-top: .5em;
}

.customcard-text{
    text-align: center;
    background-color: #1b4e91;
    margin: 0;
    padding: .75em 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
    color: white;
}


.customcard img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.view-package-btn {
    width: 100%;
    border: none;
    background-color: var(--cprimary);
    color: white;
    font-family: "Poppins";
    border-radius: 5px;
    padding: 1em;
    height: max-content;
}

.view-package-btn :hover {
    color: white !important;
}

* {
    font-family: "Poppins";
    text-decoration: none !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 300px;
    text-align: center;
    font-size: 18px;

}

.container {
    position: relative;
}

.container .swiper-nav-btns {
    position: absolute;
    display: block;
    top: -.5em;
    width: 100%;
}

.swiper-nav-btns {
    padding: 1em 0;
    z-index: 100;

}

.swiper-nav-btns button {

    margin-top: 0 !important;
    margin-bottom: 1em;
}

.title-main {
    color: #606060;
    font-size: 2rem;
    font-weight: 600;
}

.title-main span,
.text-main span {
    color: #FF6A3E;
}

.text-main {
    color: #343434;
    font-weight: 500;
}