.one-image-container{
    height: 63vh;
    width: 100%;
}
.one-image{
    height: 56vh;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.one-image-title{
    color: white;
    position: absolute;
    bottom: 20%;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    font-family: Poppins;
}
.one-image-price{ 
    color: white;
    position: absolute;
    bottom: 10%;
    font-size: 14px;
    margin-left: 5%;
    font-family: Poppins;
}