.footer-bottom-main-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 12%;
    color: white;
    margin-top: 4%;
}
h1{
    color: rgb(158, 152, 152);
}
.footer-bottom-Pickyourtrail{
    display: flex;
    flex-direction: column;
}
.footer-bottom-policy{
    display: flex;
    flex-direction: column;
}
.footer-bottom-taik{
    display: flex;
    flex-direction: column;
}
.footer-bottom-social{
    display: flex;
    flex-direction: column;

}