.three-card-container{
    height: 60vh;
    width: 100%;
    

}
.bottom-div {
   display: flex;
}
.first-card-image{
    height: 30vh;
    width: 100%;
    margin-bottom: 3%;
    border-radius: 16px;
    object-fit: cover;
} 
.second-card-image{
    height: 25vh;
    width: 49%;
    margin-right: 1%;
    border-radius: 16px;
    object-fit: cover;
}
.third-card-image{
    height: 25vh;
    width: 49%;
    margin-left: 1%;
    border-radius: 16px;
    object-fit: cover;
}

.three-card-top-image-title{
    color: white;
    position: absolute;
    bottom: 60%;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.three-card-top-image-price{
    color: white;
    position: absolute;
    bottom: 50%;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.three-card-bottom-left-image-title{
    color: white;
    position: absolute;
    bottom: 10%;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.three-card-bottom-left-image-price{
    color: white;
    position: absolute;
    bottom: 5%;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.three-card-bottom-right-image-tittle{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}
.three-card-bottom-right-image-price{
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    font-family: Poppins;

}