  .banner-image {
      height: 100%;
     
      overflow: hidden; 
  }
  .banner-image img{
    border-radius: 10px;
    height: 201px;
    object-fit: cover;
  }
  .name-para{
    position: relative;
    bottom: 20%;
    color: black;
   
  }
  .name-tittle{
    position: relative;
    bottom: 20%;
    color: black;
   
  }