.explor-container{
  background-color: #fdf3eb;
  height: 85vh;
  margin: 0 12%;
  
}
.new-div-continer{
  display: flex;
  justify-content: space-between;

}
.explore-title{
  padding-top: 4%;
  margin-top: 5%;
  font-weight: 700;
  font-family: Poppins;
  color: black;
}
.explore-title2{ 
  font-weight: 500;
  font-size: 18px;
  margin-top: -1em;
  font-family: Popins;
  color: black;

}
.explor-main-container{
  background-color: #fdf3eb;
}