.many-logo-image{
    width: 100%;
    margin-left: 2%;
    margin: 2%;
}
.footer-top-tittle{
    color: white;
    margin-left: 34%;
    padding: 3%;
    font-weight: 500;
    font-size: 18px;
    font-family: Poppins;
}
.footer-top-container{
    margin: 0 12%;
}
.horizontal-line2{
    color: white;
    width: 120%;

}